# Node dependencies
node_modules/

# Next.js build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env*
!.env.example

# OS / Editor folders
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing & Coverage
coverage/

# Misc
*.log 